authServer.ipAddresses = 127.0.0.1:5000,127.0.0.1:5001,127.0.0.1:5002,127.0.0.1:5003
authServer.port = 5000

authServer.request.usernameField = username
authServer.request.passwordField = password
authServer.request.scopesField = scopes
authServer.request.tokenField = token

authServer.response.showError = true

authServer.response.errField = err
authServer.response.accessTokenField = accessToken
authServer.response.refreshTokenField = refreshToken