authServer.ipAddress = 127.0.0.1:5000
authServer.port = 5000

authServer.request.usernameField = username
authServer.request.passwordField = password
authServer.request.scopesField = scopes

authServer.response.errField = err
authServer.response.accessTokenField = accessToken
authServer.response.refreshTokenField = refreshToken