#Database basic config
database.address = mongodb://localhost:27017
database.timeoutSeconds = 10
database.zerotechhDB = ZeroTechh

#Databse Collections
database.zerotechhDB.UserDataCollection = UserData
database.zerotechhDB.UserExtraDataCollection = UserExtraData
database.zerotechhDB.UserMetaDataCollection = UserMetaData

# Database Fields Values
database.zerotechhDB.UserDataCollection.UserIDField = _id
database.zerotechhDB.UserDataCollection.UsernameField = Username
database.zerotechhDB.UserDataCollection.EmailField = Email
database.zerotechhDB.UserDataCollection.PasswordField = Password
database.zerotechhDB.UserDataCollection.UserExtraDataField = UserExtraData


database.zerotechhDB.UserExtraDataCollection.FirstNameField = FirstName
database.zerotechhDB.UserExtraDataCollection.LastNameField = LastName
database.zerotechhDB.UserExtraDataCollection.GenderField = Gender
database.zerotechhDB.UserExtraDataCollection.BirthdayUTCField = BirthdayUTC


database.zerotechhDB.UserMetaDataCollection.AccountCreationUTCField = AccountCreationUTC
database.zerotechhDB.UserMetaDataCollection.AccountStatusField = AccountStatus