jwt.userIdentityField = UserIdentity
jwt.isFreshField = Fresh
jwt.scopesField = scopes
jwt.creationUTCField = creationUTC
jwt.expirationUTCField = expirationUTC
jwt.accessTokenExpirationTimeMinutes = 7200
jwt.refreshTokenExpirationTimeDays = 180
jwt.freshAccessTokenExpirationTimeMinutes = 20
jwt.secret = JWT_SECRET
